.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    padding: 9px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 15px;
}
.cat1{
    background-image: linear-gradient(to left, #ffd019 0%, #ff9c35 100%);
}
.cat2{
    background-image: linear-gradient(to left, #ff589b 0%, #ff136f 100%);
}
.cat3{
    background-image: linear-gradient(to left, #4289ff 0%, #3f07f8 100%);
}
.categories h1{
    color: #fff;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
.card-footer{
    border-top: none;
    background-color: #fff;
    border-radius: 10px;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}